
<div class="modal is-active">
  <div class="modal-background" (click)="onCloseClick()"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Add weight</p>
      <button class="delete" aria-label="close" (click)="onCloseClick()"></button>
    </header>
    <section class="modal-card-body">
      <div>
        <h1>Add Weight</h1>
        <form [formGroup]="weightForm" (ngSubmit)="onSubmit()">
          <label>Date</label>
          <input formControlName="date" type="date"/>
          <br>
          <label>Weight</label>
          <input formControlName="weight"/>
          <br>
          <button class="is-success" type="submit">Add</button>
        </form>
      </div>
    </section>
    <footer class="modal-card-foot">
      <button class="button"(click)="onCloseClick()">Cancel</button>
    </footer>
  </div>
</div>
